<style>
  section {
   
    text-align: center;
    background: #F4f4f4;
    padding: 20px;
    border: 1px solid #000;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  label {
    margin: 10px 0 5px 0;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
  }

  
</style>

<section>
  <h2>Contact</h2>
  <p>Send us a message!</p>
  <form>
    <div style="display: flex; justify-content: space-between; gap: 40px; align-items: center;">
  <label for="nom">Nom</label>
  <input type="text" required name="nom" #nom="ngModel" [(ngModel)]="n" pattern=".*\s.*" minlength="3" />
  <div *ngIf="nom.invalid && nom.dirty">
    <small *ngIf="nom.errors?.['pattern']" style="color: red;">Nom is Invalid</small>
    <small *ngIf="nom.errors?.['required']" style="color: red;">Nom is Required</small>
  </div>
    </div>
   
      

      <label>
        <input type="checkbox" [(ngModel)]="isChecked" name="check" #check="ngModel" required />
<span>Check Me</span>  
    </label>
      <button type="submit"  [disabled]="nom.invalid || !isChecked">Send</button>
  </form>

    <!-- <p><b>valeur de l'email: </b>{{nom.value}}</p>
    <p><b>touched: </b>{{nom.touched}}</p>
    <p><b>pristine: </b>{{nom.pristine}}</p>
    <p><b>dirty: </b>{{nom.dirty}}</p>
    <p><b>valid: </b>{{nom.valid}}</p>
    <p><b>invalid: </b>{{nom.invalid}}</p>
    <p>{{nom.value}}</p> -->
</section>


<div
  style="margin: 50px auto; text-align: center; background: #47c; padding: 20px; border: 1px solid #000; width: 50%;">

<p>contact works!</p>
</div>
